<div class="content_log">
    <%= form_for(@tweet) do |f| %>
      <h3>
        編集する
      </h3>
      <%=f.text_field :image %>
      <%=f.text_area :text, placeholder:"text" %>
      <%=f.submit"sent", class:"btn waves-effect waves-light" %>    
    <% end %>
  </div>
